<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Crazy Computers</title>
  <link rel="stylesheet" href="/style.css"> 
</head>

<!-- Home page -->

<body>
  {{> nav}}

  <main>
    <h1>Welcome to the Crazy Computers Admin Panel</h1>
    <p>Developed by: Jack Armstrong and Bryce Davenport</p>
    <h3>Reset DB:</h3>
    <form action="/index/reset" method="POST">
      <button type="submit" onclick="return confirm('Reset the database to original sample data?')" style="background-color: #c0392b; color: white;">  <!-- This simply outputs a confirmation to the screen prior to reset -->
        Reset
      </button>
    </form>
  </main>
</body>
</html>